<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间对应要映射的dao接口的全限定名 -->
<mapper namespace="com.cheney.entity.dto.Admin">

    <select id="find" parameterType="long" resultType="com.cheney.entity.dto.Admin">
        select *
        from m_admin
        where id = #{id}
    </select>

    <select id="findAll" resultType="com.cheney.entity.dto.Admin">
        select *
        from m_admin
    </select>

    <insert id="persist" parameterType="com.cheney.entity.dto.Admin">
        insert into m_admin (create_date,username)
        values(#{createDate},#{username})
    </insert>

    <update id="merge" parameterType="com.cheney.entity.dto.Admin">
        update auth_user
        set create_date = #{createDate},username = #{username}
        where id = #{id}
    </update>

    <delete id="remove" parameterType="long">
        delete from m_admin where id = #{id}
    </delete>

    <delete id="multiRemove" parameterType="long">
        delete from m_admin
        where id in
        <foreach item="id" collection="ids" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>
