<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间对应要映射的dao接口的全限定名 -->
<mapper namespace="com.cheney.dao.mybatis.AuthUserMapper">

    <resultMap id="base" type="com.cheney.entity.AuthUser">
        <id property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="enabled" column="enabled"/>
        <result property="originId" column="origin_id"/>
        <result property="password" column="password"/>
        <result property="updateDate" column="update_date"/>
        <result property="username" column="username"/>
        <collection property="roles" ofType="string">
            <result column="role_code"/>
        </collection>
    </resultMap>

    <sql id="filters">
        <include refid="commonFilters"/>
    </sql>

    <sql id="pageFilters">
        <bind name="filters" value="pageable.filters"/>
        <include refid="commonFilters"/>
    </sql>

    <sql id="commonFilters">
        <where>
            <if test="filters != null">
                <foreach collection="filters" item="filter" separator="and">
                    <choose>
                        <when test="filter.symbol == 'is null' or filter.symbol == 'is not null'">
                            t0.${filter.property} ${filter.symbol}
                        </when>
                        <when test="filter.symbol == 'in'">
                            t0.${filter.property}
                            in
                            <foreach collection="filter.value" item="item" separator="," open="(" close=")">
                                #{item}
                            </foreach>
                        </when>
                        <otherwise>
                            t0.${filter.property} ${filter.symbol} #{filter.value}
                        </otherwise>
                    </choose>
                </foreach>
                <if test="filters.hasOtherParams == true">
                    <bind name="_ps" value="filters.otherParams"/>
                </if>
            </if>
        </where>
    </sql>

    <sql id="orders">
      <if test="orders != null and orders.valid == true">
          order by
          <foreach collection="orders.orders" separator="," item="_order">
              ${_order.property} ${_order.type}
          </foreach>
      </if>
    </sql>

    <sql id="pageOrders">
        <if test="pageable.orders != null and pageable.orders.valid == true">
            order by
            <foreach collection="pageable.orders.orders" separator="," item="_order">
                ${_order.property} ${_order.type}
            </foreach>
        </if>
    </sql>

    <insert id="persist" parameterType="com.cheney.entity.AuthUser" useGeneratedKeys="true" keyProperty="id">
        insert into sys_auth_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="createDate != null">
			create_date,
		</if>
		<if test="enabled != null">
			enabled,
		</if>
		<if test="originId != null">
			origin_id,
		</if>
		<if test="password != null">
			password,
		</if>
		<if test="updateDate != null">
			update_date,
		</if>
		<if test="username != null">
			username
		</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="createDate != null">
			#{createDate},
		</if>
		<if test="enabled != null">
			#{enabled},
		</if>
		<if test="originId != null">
			#{originId},
		</if>
		<if test="password != null">
			#{password},
		</if>
		<if test="updateDate != null">
			#{updateDate},
		</if>
		<if test="username != null">
			#{username}
		</if>
        </trim>
    </insert>

    <update id="merge" parameterType="com.cheney.entity.AuthUser">
        update sys_auth_user
        set
        <trim suffixOverrides=",">
		<if test="createDate != null">
			create_date = #{createDate},
		</if>
		<if test="enabled != null">
			enabled = #{enabled},
		</if>
		<if test="originId != null">
			origin_id = #{originId},
		</if>
		<if test="password != null">
			password = #{password},
		</if>
		<if test="updateDate != null">
			update_date = #{updateDate},
		</if>
		<if test="username != null">
			username = #{username}
		</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="remove" parameterType="Long">
        delete from sys_auth_user where id = #{id}
    </delete>

    <delete id="multiRemove" parameterType="Long">
        delete from sys_auth_user
        where id in
        <foreach item="id" collection="ids" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

     <select id="find" parameterType="Long" resultMap="base">
         select t0.*, ur.role_code
         from sys_auth_user t0
         left join mid_user_role ur
         on t0.username = ur.username
        where id = #{id}
    </select>

    <select id="filter" resultMap="base">
        select t0.*, ur.role_code
        from sys_auth_user t0
        left join mid_user_role ur
        on t0.username = ur.username
        <include refid="filters"/>
    </select>

    <select id="findAll" resultMap="base">
        select t0.*, ur.role_code
        from sys_auth_user t0
        left join mid_user_role ur
        on t0.username = ur.username
    </select>

    <select id="findList" resultMap="base">
        select t0.*, ur.role_code
        from sys_auth_user t0
        left join mid_user_role ur
        on t0.username = ur.username
        <include refid="filters"/>
        <include refid="orders"/>
    </select>

    <select id="count" resultType="long">
        select count(1)
        from sys_auth_user t0
        <include refid="filters"/>
    </select>

    <select id="exists" resultType="boolean">
        select 1
        from sys_auth_user t0
        <include refid="filters"/>
        limit 1
    </select>

    <select id="findPage" parameterType="com.cheney.system.page.Pageable" resultMap="base">
        select t0.*
        from sys_auth_user t0
        <include refid="pageFilters"/>
        <include refid="pageOrders"/>
        limit #{pageable.startSize},#{pageable.pageSize}
    </select>

    <select id="findByUsername" resultMap="base">
        select t0.*, ur.role_code
        from sys_auth_user t0
        left join mid_user_role ur
        on t0.username = ur.username
        where t0.username = #{username}
    </select>

</mapper>
